name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]  # Change this if your main branch is called 'master'

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Replace USERNAME and SPACE_NAME below with your specific details!
        run: git push https://USERNAME:$HF_TOKEN@huggingface.co/spaces/caspikus/SCAN_R_4.5.2 master
